
<center>
<p>
	<%= link_to 'New Shopper', new_shopper_path, :class=>"btn btn-primary btn-large" %>
</p>

<p>
<%= link_to 'New Shopkeeper', new_shopkeeper_path, :class=>"btn btn-primary btn-large" %>
</p>
</center>