<h1>Shopkeepers</h1>
<table class="table">
  <tr>
    <th>Username</th>
    <th>Number of Items</th>
    <th></th>
  </tr>

<% @shopkeepers.each do |shopkeeper| %>
  <tr>
    <td><%= shopkeeper.username %></td>
    <td><%= shopkeeper.items.size %></td>
    <td>
      <%= link_to 'View Shop', shopkeeper_items_path(shopkeeper.id) %>
    </td>
  </tr>
<% end %>
</table>

<br />